*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
#header{
    .container{
        padding: 35px;
        .row{
            .col-4{
                a{
                    text-decoration: none;
                    img{
                        width: 210px;
                        height: auto;
                    }
                }
            }
            .col-8{
                display: flex;
                .row{

                    .navbar-list{
                        text-decoration: none;
                        display: flex;
                        align-items: center;
                        margin: 0px !important;
                        li{ 
                            margin-left: 60px;
                            list-style: none;
                            position: relative;
                            .menu-text{
                                text-decoration: none;
                                position: relative;
                                display: flex;
                                color: black;
                                display: inline-block;
  
                            }
                            .menu-text::after{
                                content: "";
                                width: 0%;
                                height: 1px;
                                position: absolute;
                                background-color: black;
                                bottom: -10px;
                                left: 0;
                                transition: all 0.5s;
                              
                            }
                            .menu-text:hover:after{
                                width: 100%;
                            }
                            .menu-text:hover .subbar-list-item{
                                opacity:1;
                            }
                            
                            
                            .subbar-list{
                                position: absolute;
                                background-color:#f34f3f;
                                display: flex;
                                flex-direction: column;
                                justify-content: start;
                                top: 42px;
                                z-index: 100;
                                left: -9px;
                                opacity: 0;
                                .subbar-area{
                                    .subbar-list-item{
                                        padding: 10px 80px 10px 7px;
                                        padding: 12px;
                                        a{
                                            text-decoration: none;
                                            color: black;
                                            font-size: 15px;
                                            padding: 12px 16px;
                                        }
                                    }
                                }
                                
                            }

                        }
                        .icon-list{
                            margin-left: 60px;
                        }
                        a{
                            margin: 0 !important;
                            li{
                                margin-left: 26px;
                                
                            }
                        }

                        .icon{
                            text-decoration: none;
                            color:black;
                            margin: 10px;
                            font-size: 16px;
                            transition: 0.5s;
                            li{
                                list-style: none;

                            }
                        }
                        .icon-search:hover{
                            color: #f34f3f;
                        }
                        .icon-shop{
                            position: relative;
                            .text-upper{
                                span{
                                    font-size: 12px;
                                }
                                text-align: center;
                                width: 15px;
                                height: 15px;
                                position: absolute;
                                right: -3px;
                                top: -1px;
                                border: 1px solid #f34f3f;
                                background-color: #f34f3f;
                                border-radius: 50%;
                                color: white;
                            }
                        }
                       
                      

                    }
                    .nav-icons{
                        width: 250px;
                    }
                }
            }
        }
    }
}

.carousel{
    .carousel-inner{
        position: relative;
        .carousel-text{
            position: absolute;
            z-index: 1;
            font-family: 'Playfair Display', serif;
            left: 321px;
            top: 130px;
            .carousel-title{
                line-height: 70px;
                letter-spacing: 0px;
                font-weight: 400;
                font-size: 60px;
                margin: 0;
                span{color: #f34f3f;}
            }
            .carousel-title-text{
               
                width: 497px;
                height: 88px;
                font-weight: 400;
                font-size: 17px;
                color: rgb(109, 106, 106);
                margin: 0;
                margin-top: 25px;
            }
            img{
                margin-top: 20px;
            }
            
          
        }
    }
}

#filter-flowers{
    ul{
        display: flex;
       
        li{
            list-style: none;
            margin: 20px;
            font-size: 18px;
            transition:  all .8s;
                &:hover{
                    color: #f34f3f;
                }
        }
    }

    .card-element {
        width: 100%;
        height: 500px;
        &:hover{
            .card-body{
                .add-to{
                    span{
                        opacity: 1 !important;
                        position: absolute;
                        left: 90px;
                        transition: 1s all;
                        &:hover{
                            color: #f34f3f;
                            cursor: pointer;
                        }
                    }
                }
                .prise{
                    span{
                        opacity: 0;
                    }
                }
            }

        }
        .card-img{
            display: flex;
            img{
                width: 80%;
                height: 300px;
                margin: 0 auto;
            }
        }
        .card-body{
            text-align: center;

                .prise{
                    span{
                        transition: .5s all;
                    opacity: 1;
                    }
                }

                .add-to{
                    position: relative;
                    span{
                        top: -24px;
                        left: 30px;
                        position: absolute;
                        opacity: 0; 
                    }
                }
        }
    }
}

.active{
    color:#f34f3f ;
}


.Wekilsasdas{
    margin: 0 auto;
}