*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
#header{
    .container{
        padding: 35px;
        .row{
            .col-4{
                a{
                    text-decoration: none;
                    img{
                        width: 210px;
                        height: auto;
                    }
                }
            }
            .col-8{
                display: flex;
                .row{

                    .navbar-list{
                        text-decoration: none;
                        display: flex;
                        align-items: center;
                        margin: 0px !important;
                        li{ 
                            margin-left: 60px;
                            list-style: none;
                            position: relative;
                            .menu-text{
                                text-decoration: none;
                                position: relative;
                                display: flex;
                                color: black;
                                display: inline-block;
  
                            }
                            .menu-text::after{
                                content: "";
                                width: 0%;
                                height: 1px;
                                position: absolute;
                                background-color: black;
                                bottom: -10px;
                                left: 0;
                                transition: all 0.5s;
                              
                            }
                            .menu-text:hover:after{
                                width: 100%;
                            }
                            .menu-text:hover .subbar-list-item{
                                opacity:1;
                            }
                            
                            
                            .subbar-list{
                                position: absolute;
                                background-color:#f34f3f;
                                display: flex;
                                flex-direction: column;
                                justify-content: start;
                                top: 42px;
                                z-index: 100;
                                left: -9px;
                                opacity: 0;
                                .subbar-area{
                                    .subbar-list-item{
                                        padding: 10px 80px 10px 7px;
                                        padding: 12px;
                                        a{
                                            text-decoration: none;
                                            color: black;
                                            font-size: 15px;
                                            padding: 12px 16px;
                                        }
                                    }
                                }
                                
                            }

                        }
                        .icon-list{
                            margin-left: 60px;
                        }
                        a{
                            margin: 0 !important;
                            li{
                                margin-left: 26px;
                                
                            }
                        }

                        .icon{
                            text-decoration: none;
                            color:black;
                            margin: 10px;
                            font-size: 16px;
                            transition: 0.5s;
                            li{
                                list-style: none;

                            }
                        }
                        .icon-search:hover{
                            color: #f34f3f;
                        }
                        .icon-shop{
                            position: relative;
                            .text-upper{
                                span{
                                    font-size: 12px;
                                }
                                text-align: center;
                                width: 15px;
                                height: 15px;
                                position: absolute;
                                right: -3px;
                                top: -1px;
                                border: 1px solid #f34f3f;
                                background-color: #f34f3f;
                                border-radius: 50%;
                                color: white;
                            }
                        }
                       
                      

                    }
                    .nav-icons{
                        width: 250px;
                    }
                }
            }
        }
    }
}

.carousel{
    .carousel-inner{
        position: relative;
        .carousel-text{
            position: absolute;
            z-index: 1;
            font-family: 'Playfair Display', serif;
            left: 321px;
            top: 130px;
            .carousel-title{
                line-height: 70px;
                letter-spacing: 0px;
                font-weight: 400;
                font-size: 60px;
                margin: 0;
                span{color: #f34f3f;}
            }
            .carousel-title-text{
               
                width: 497px;
                height: 88px;
                font-weight: 400;
                font-size: 17px;
                color: rgb(109, 106, 106);
                margin: 0;
                margin-top: 25px;
            }
            img{
                margin-top: 20px;
            }
            
          
        }
    }
}

#filter-flowers{
    ul{
        display: flex;
       
        li{
            list-style: none;
            margin: 20px;
            font-size: 18px;
            transition:  all .8s;
                &:hover{
                    color: #f34f3f;
                }
        }
    }

    .card-element {
        width: 100%;
        height: 500px;
        &:hover{
            .card-body{
                .add-to{
                    span{
                        opacity: 1 !important;
                        position: absolute;
                        left: 90px;
                        transition: 1s all;
                        &:hover{
                            color: #f34f3f;
                            cursor: pointer;
                        }
                    }
                }
                .prise{
                    span{
                        opacity: 0;
                    }
                }
            }

        }
        .card-img{
            display: flex;
            img{
                width: 80%;
                height: 300px;
                margin: 0 auto;
            }
        }
        .card-body{
            text-align: center;

                .prise{
                    span{
                        transition: .5s all;
                    opacity: 1;
                    }
                }

                .add-to{
                    position: relative;
                    span{
                        top: -24px;
                        left: 30px;
                        position: absolute;
                        opacity: 0; 
                    }
                }
        }
    }
}

.active{
    color:#f34f3f ;
}


.Wekilsasdas{
    margin: 0 auto;
}
#valentine{
    padding: 120px;
    background-color: #f7f7f7;
    .container{
        .row{
            .video-side{
                .img-video{
                    display: block;
                    overflow: hidden;
                    position: relative;
                    img{
                        height: 421px;
                        width: 652px;
                    }
                    .modal-body{
                        height: 314px;
                        padding: 0px;
                        width: 560px;
                    }
                    a{
                        position: absolute;
                        top: 171px;
                        left: 275px;
                        font-size: 25px;
                        border: 1px solid white;
                        background-color: white;
                        border-radius: 50%;
                        width: 80px;
                        height: 80px;
                        text-align: center;
                        line-height: 65px;
                        i{
                            color: #f34f3f;
                            font-size: 25px;
                            border: 1px solid white;
                            background-color: white;
                            border-radius: 50%;
                            text-align: center;
                            
                        }
                    }
                    
                }
            }
            .text-side{
                padding: 42px;
                font-family: 'Playfair Display', serif;
                line-height: 1.6em;
                font-weight: 400;
               
                h1{
                    font-size: 34px;
                    span{
                        color: red;
                        
                    }
                }
                p{
                    font-size: 17px;
                    line-height: 29px;
                    margin-top: 27px;
                    width: 90%;
                    color: #6d6a6a;
                }
                ul{
                    list-style: none;
                    
                    li{
                        display: flex;
                        position: relative;
                        margin:15px 0;
                        i{
                            position: absolute;
                            top: 8px;
                            left:-33px ;
                            color: red;
                        }
                        p{
                            margin: 0;
                            font-size: 17px;
                        }
                    }
                }
            }
        }
    }
}

#avatar{
    padding: 130px;
    .container{
        .row{
            .text{
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                h2{
                    font-size: 38px;
                    line-height: 1.447em;
                    font-family: "Playfair Display",serif;
                }
                p{
                    margin-top: 15px;
                    width: 50%;
                    font-size: 17px;
                    line-height: 29px;
                    font-family: "Playfair Display",serif;
                    color: #6d6a6a;
                }
            }
            .image{
                margin-top: 30px;
               display: flex;
               justify-content: space-around; 
               .avatar-icon{
                   h6{
                       
                       margin: 0px;
                       text-align: center;
                       color: #1b1b1b;
                       font-family: 'Montserrat', sans-serif;
                       font-size: 12px;
                       line-height: 2em;
                       font-weight: 500;
                       letter-spacing: .1em;
                       margin-top: 12px;
                   }
                   p{
                       margin: 0px;
                       text-align: center;
                       display: block;
                        font-size: 12px;
                        color: #afafaf;
                        margin: 2px 0 4px;
                   }
               }
            }
        }
    }
}

#search-img{
    background-image: url(/assests/images/bk-img.jpg);
    width: 100%;
    padding: 20px;
    text-align: center;
    overflow: hidden;
    display: block;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center 0;
    background-attachment: fixed;
    position: static;
    .container{
        padding: 190px;
        .row{
            .text-input{
                
                .text{
                    color: white;
                    h3{
                        display: block;
                        font-family: "Playfair Display",serif;
                        font-weight: 400;
                        font-size: 30px;
                        line-height: 1.4em;
                        font-size: 30px;
                        
                    }
                }
                .input{
                    margin-top: 28px;
                    input{
                        padding: 18px;
                        border: none;
                        width: 38%;
                        outline: 0;
                    }
                    button{
                        width: 13%;
                        padding: 18px;
                        border: none;
                        background-color: #f34f3f;
                        color: white;
                        margin-left: -4px;
                    }

                }
            }
        }
    }
}

#blog{
    padding: 90px;
    background-color: #f8f8f8 !important;
    .container{
        .row{
            .image-text{
                text-align: center;
                .text{

                    h2{
                        font-size: 38px;
                        line-height: 1.447em;
                        color: #2b2b2b;
                        font-family: "Playfair Display",serif;
                        font-weight: 400;
                    }
                    p{
                        width: 45%;
                        margin: 0 auto;
                        color: #6d6a6a;
                        margin-top: 15px;
                        font-size: 17px;
                        line-height: 29px;
                        font-family: 'Lora', serif;
                    }
                }
            }
            .images{
                .image{
                    position: relative;
                    width: auto;
                    img{
                        height: 269px;
                        width: 420px ;
                    }
                    .time{
                        position: absolute;
                        top: 15px;
                        left: 15px;
                        background-color: white;
                        padding: 5px 12px;
                        a{
                            text-decoration: none;
                            color:black;
                            font-family: Montserrat,sans-serif;
                            font-size: 11px;
                            font-weight: 500;
                            text-transform: uppercase;
                            letter-spacing: .15em;
                            transition: 0.5s;
                            &:hover{
                                color: #f34f3f;
                            }
                        }
                    }
                    h5{
                        font-size: 22px;
                        a{
                            text-decoration: none;
                            color:black;
                            font-family: "Playfair Display",serif;
                            font-weight: 500;
                            
                        }
                    }
                    p{
                        color: #6d6a6a;
                        width: 80%;
                        text-align: center;
                        margin: 0px auto;
                        font-size: 16px;
                        font-family: "Playfair Display",serif;

                    }
                   
                }
                
            }
        }
    }
}

#avatar-move{
    .container{
        padding: 40px;
        .row{
            .col-8{
                margin: 0 auto;
                padding: 40px;
                .carousel{
                    .carousel-inner{
                        .carousel-item{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            padding: 40px;
                            img{
                                
                                width: 90px;
                                height: auto;
                                
                            }
                            h4{
                                margin-top: 30px;
                                text-align: center;
                                width: 80%;
                                font-family: Lora,serif;
                                font-style: italic;
                                color: black;
                                font-size: 22px;
                                line-height: 1.5em;
                            }
                            p{
                                margin: 0px;
                                text-align: center;
                                color: #1b1b1b;
                                font-family: 'Montserrat', sans-serif;
                                font-size: 12px;
                                line-height: 2em;
                                font-weight: 500;
                                letter-spacing: .1em;
                                margin-top: 12px;
                            }
                            span{
                                text-align: center;
                                display: block;
                                font-size: 12px;
                                color: #afafaf;
                                margin: 2px 0 4px;
                            }
                        }
                    }
                }
            }
        }
    }
}

#footer{
    background-color: #fefaf3;
    padding: 40px;
    .container{
        .row{
            
            .col-md-3{
                display: flex;
                justify-content:space-between ;
                .text{
                    h6{
                        font-family: Montserrat;
                        font-size: 12px;
                        line-height: 2em;
                        font-weight: 500;
                        letter-spacing: .1em;
                        text-transform: uppercase;
                    }
                    ul{
                        margin-top: 30px;
                        list-style: none;
                        padding: 18px 0px;
                        
                        li{
                            margin: 3px 0px;
                            a{
                               text-decoration: none; 
                               font-size: 12px;
                               color: #8b8b8b;
                               font-family: Montserrat,sans-serif;
                               transition: 0.5s;
                               &:hover{
                                   color: #f34f3f;
                               }
                            }
                        }
                    }
                }
               
            }
        }
        .rowborder{
            border-bottom: 1px solid gray;
        }
    }
}